body{
  margin: 0;
}

.enemy{

}

.player{

}

.arena{
  width: 80%;
  height: 100%;
  display: inline-block;
}

.scoreboard{
  float: right;
  display: inline-block;
  width: 19%;
  height: 100%;
  -webkit-animation: rotate 3s;
}

.scoreboard {

}

@keyframes rotate {
  from {
    background-color: 'red';
  }

  to {
    background-color: 'yellow';
  }
}